{% extends "base.twig" %}

{% block content %}

	<main>
		<h1>{{ title }}</h1>
		<h2>{{ catch_phrase }}</h2>
		<p>{{ introduction }}</p>

		{% include 'components/filters.twig' with {districts:districts} %}

    <ul>
      {% for profile in profiles %}
        <li>
          <a href="profile/{{profile.post_name}}">
            {{ profile.name }} 

						{% if profile.first_name %}
							{{ profile.first_name }}
						{% endif %}

            {% if get_field("domain_technician" , profile) %}
              {{ get_field("domain_technician" , profile)|map(s => s.name)|join(', ') }}
            {% endif %}

            {% if get_field("domain_organization" , profile) %}
              {{ get_field("domain_organization" , profile)|map(s => s.name)|join(', ') }}
            {% endif %}

            {% if get_field("style" , profile) %}
              {{ get_field("style" , profile)|map(s => s.name)|join(', ') }}
            {% endif %}

            {% if get_field("instrument" , profile) %}
              {{ get_field("instrument" , profile)|map(s => s.name)|join(', ') }}
            {% endif %}

            {% if get_field("location_type" , profile) %}
              {{ get_field("location_type" , profile)|map(s => s.name)|join(', ') }}
            {% endif %}

						{% if get_field("years_of_experience" , profile ) %}
              {{ get_field("years_of_experience" , profile ).name }}
						{% endif %}

						{% if get_field("district" , profile ) %}
              {{ get_field("district" , profile ).name }}
						{% endif %}

						<ul>
							<li>
								{% if profile.email %}
									<a href="{{ profile.email }}">{{ profile.email }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.phone_number %}
									<a href="{{ profile.phone_number }}">{{ profile.phone_number }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.website %}
									<a href="{{ profile.website }}">{{ profile.website }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.instagram %}
									<a href="{{ profile.instagram }}">{{ profile.instagram }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.youtube %}
									<a href="{{ profile.youtube }}">{{ profile.youtube }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.tiktok %}
									<a href="{{ profile.tiktok }}">{{ profile.tiktok }}</a>
								{% endif %}
							</li>
							<li>
								{% if profile.facebook %}
									<a href="{{ profile.facebook }}">{{ profile.facebook }}</a>
								{% endif %}
							</li>
						</ul>
					</a>
				</li>
			{% endfor %}
		</ul>

	</main>

{% endblock %}
