{% extends "base.twig" %}

{% block content %}
    <main>
        <h1>{{ title }}</h1>
        <p>{{ category }}</p>
        <p>{{ domain_technician }}</p>
        <p>{{ domain_organization }}</p>
        <p>{{ style }}</p>
        <p>{{ instrument }}</p>
        <p>{{ type }}</p>
        <p>{{ name }}</p>
        <p>{{ first_name }}</p>
        <p>{{ creation_year }}</p>
        <p>{{ e-mail }}</p>
        <p>{{ phone_number }}</p>
        <p>{{ district }}</p>
        <p>{{ years_of_experience }}</p>
        <img>{{ profile_picture }}</img>
        <p>{{ description }}</p>
        <a>{{ website }}</a>
        <a>{{ video_1 }}</a>
        <a>{{ video_2 }}</a>
        <a>{{ video_3 }}</a>
        <a>{{ instagram }}</a>
        <a>{{ youtube }}</a>
        <a>{{ tiktok }}</a>
        <a>{{ facebook }}</a>
    </main>
{% endblock %}
