<form>
  <div>
    <input type="radio" id="technicians" name="category" value="technicians" checked/>
    <label for="technicians">Technicien.ne.s</label>
  </div>
  <div>
    <input type="radio" id="bands" name="category" value="bands"/>
    <label for="bands">Groupes</label>
  </div>
  <div>
    <input type="radio" id="musicians" name="category" value="musicians"/>
    <label for="musicians">Musicien.ne.s</label>
  </div>
  <div>
    <input type="radio" id="locations" name="category" value="locations"/>
    <label for="locations">Lieux</label>
  </div>
  <div>
    <input type="radio" id="organizations" name="category" value="organizations"/>
    <label for="organizations">Organismes/instances</label>
  </div>

  <input type="text" value="Rechercher..." aria-label="Rechercher"/>

  <label for="domain_organization">Domaines</label>
  <div> 
    {% for domain_organization in domains_organization %}
      <input type="checkbox" id="{{domain_organization.slug}}" name="{{domain_organization.slug}}" value="organizations"/>
      <label for="{{domain_organization.slug}}">{{domain_organization.name}}</label>
    {% endfor %}
  </div>

  <label for="domain_technician">Domaines</label>
  <div> 
    {% for domain_technician in domains_technician %}
      <input type="checkbox" id="{{domain_technician.slug}}" name="{{domain_technician.slug}}" value="organizations"/>
      <label for="{{domain_technician.slug}}">{{domain_technician.name}}</label>
    {% endfor %}
  </div>

  <label for="instrument">Instruments</label>
  <div> 
    {% for instrument in instruments %}
      <input type="checkbox" id="{{instrument.slug}}" name="{{instrument.slug}}" value="organizations"/>
      <label for="{{instrument.slug}}">{{instrument.name}}</label>
    {% endfor %}
  </div>

  <label for="style">Styles</label>
  <div> 
    {% for style in styles %}
      <input type="checkbox" id="{{style.slug}}" name="{{style.slug}}" value="organizations"/>
      <label for="{{style.slug}}">{{style.name}}</label>
    {% endfor %}
  </div>

  <label for="location_type">Types</label>
  <div> 
    {% for location_type in location_types %}
      <input type="checkbox" id="{{location_type.slug}}" name="{{location_type.slug}}" value="organizations"/>
      <label for="{{location_type.slug}}">{{location_type.name}}</label>
    {% endfor %}
  </div>

  <label for="district">Domaine (organismes)</label>
  <div> 
    {% for district in districts %}
      <input type="checkbox" id="{{district.slug}}" name="{{district.slug}}" value="organizations"/>
      <label for="{{district.slug}}">{{district.name}}</label>
    {% endfor %}
  </div>

 <button type="submit">Filtrer</button>
</form>
 